<header class="event-header">
      
  {% set image = page.media.images|first %}
  {% if image != null %}
    {% if single != true %}<a href="{{ page.url }}">{% endif %}
      {{ image.cropZoom(960,280).html(null, page.title, 'event-item-header-image') }}
    {% if single != true %}</a>{% endif %}
  {% endif %}

</header>